<a href="https://colab.research.google.com/github/VirendraT11/Data-Detective-Smart-Data-Quality-Analyzer-Transformer/blob/main/Phase3_Data_Detective_ipynb_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Phase 1: Data Exploration with Pandas
# Project: Data Detective - Smart Data Analyzer
# Dataset: Titanic Dataset (Public)
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

In [4]:
print("Basic Dataset Info")
print(f"Shape (rows, columns): {df.shape}")
print("\nColumn Names:",list(df.columns))
print("\nData Types:\n", df.dtypes)
print("\nMemory Usage and Null Counts:")
print(df.info())

Basic Dataset Info
Shape (rows, columns): (891, 12)

Column Names: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

Data Types:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Memory Usage and Null Counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [5]:
print("First 5 Rows:")
print(df.head())
print("Last 5 Rows:")
print(df.tail())

First 5 Rows:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
Last 5 Rows:
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [6]:
print("Numerical Summary:")
print(df.describe())

Numerical Summary:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [7]:
print("Categorical Summary")
for col in df.select_dtypes(include=['object']).columns:
    print(f"\nValue Counts for '{col}':")
    print(df[col].value_counts().head(10))

Categorical Summary

Value Counts for 'Name':
Name
Dooley, Mr. Patrick                                    1
Braund, Mr. Owen Harris                                1
Cumings, Mrs. John Bradley (Florence Briggs Thayer)    1
Heikkinen, Miss. Laina                                 1
Futrelle, Mrs. Jacques Heath (Lily May Peel)           1
Allen, Mr. William Henry                               1
Moran, Mr. James                                       1
McCarthy, Mr. Timothy J                                1
Palsson, Master. Gosta Leonard                         1
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      1
Name: count, dtype: int64

Value Counts for 'Sex':
Sex
male      577
female    314
Name: count, dtype: int64

Value Counts for 'Ticket':
Ticket
347082          7
1601            7
CA. 2343        7
3101295         6
CA 2144         6
347088          6
382652          5
S.O.C. 14879    5
113760          4
19950           4
Name: count, dtype: int64

Value Counts for 'Cabin':
Cabin
G6             4
C23 C25 C27    4
B96 B98        4
F2             3
D              3
E101           3
C22 C26        3
F33            3
C83            2
C123           2
Name: count, dtype: int64

Value Counts for 'Embarked':
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [8]:
with open("phase1_summary.txt", "w") as f:
    f.write("===== Dataset Shape =====\n")
    f.write(str(df.shape) + "\n\n")

    f.write("===== Columns =====\n")
    f.write(str(list(df.columns)) + "\n\n")

    f.write("===== Data Types =====\n")
    f.write(str(df.dtypes) + "\n\n")

    f.write("===== Numeric Summary =====\n")
    f.write(str(df.describe()) + "\n\n")

    f.write("===== Categorical Summary =====\n")
    for col in df.select_dtypes(include=['object']).columns:
        f.write(f"\nValue Counts for '{col}':\n")
        f.write(str(df[col].value_counts().head(10)) + "\n")

print("\n✅ Summary report saved as 'phase1_summary.txt'")

✅ Summary report saved as 'phase1_summary.txt'

In [9]:
# Phase 2: Data Cleaning with Pandas
import pandas as pd
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
print("Missing values Count per column")
missing_counts = df.isna().sum()
print(missing_counts)

Missing values Count per column
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [11]:
print("\n Missing values Count per column after filling")
missing_counts = df.isna().sum()
print(missing_counts)

 Missing values Count per column after filling
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [12]:
df['Cabin'] = df['Cabin'].fillna(method='ffill')

/tmp/ipython-input-183619305.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Cabin'] = df['Cabin'].fillna(method='ffill')

In [13]:
df['Cabin'] = df['Cabin'].ffill()

print("\n Missing values Count per column after filling Cabin with ffill")
missing_counts = df.isna().sum()
print(missing_counts)

 Missing values Count per column after filling Cabin with ffill
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          1
Embarked       0
dtype: int64

In [14]:
df_dropped = df.dropna(subset=['Cabin'])
print(f"\nShape after dropping rows with missing values in 'Cabin': {df_dropped.shape}")

Shape after dropping rows with missing values in 'Cabin': (890, 12)

In [15]:
duplicate_count = df.duplicated().sum()
print(f"\nNumber of duplicate rows before removal: {duplicate_count}")

df = df.drop_duplicates()

duplicate_count = df.duplicated().sum()
print(f"\nNumber of duplicate rows after removal: {duplicate_count}")

Number of duplicate rows before removal: 0

Number of duplicate rows after removal: 0

In [16]:
df['PassengerId'] = df['PassengerId'].astype(str)
df['Fare'] = df['Fare'].round().astype(int)
df['Name'] = df['Name'].astype(str)
df['Sex'] = df['Sex'].astype('category')
df['Embarked'] = df['Embarked'].astype('category')
print("\nData types fixed and optimized")

Data types fixed and optimized

In [17]:
df.to_csv('phase2_cleaned_titanic.csv', index=False)
print("\n💾 Cleaned dataset saved as 'phase2_cleaned_titanic.csv'")

💾 Cleaned dataset saved as 'phase2_cleaned_titanic.csv'

In [18]:
df = pd.read_csv('phase2_cleaned_titanic.csv')

In [20]:
additional_data = {
    'PassengerId' : df['PassengerId'],
    'FamilySize' : df['SibSp'] + df['Parch'] + 1,
    'TicketGroup' : df['Ticket'].apply(lambda x: str(x)[0])
}

df_additional = pd.DataFrame(additional_data)

df_additional.to_csv('titanic_additional_info.csv', index = False)

In [21]:
df_merged = pd.merge(df, df_additional, on="PassengerId", how="left")

In [22]:
df_concat_example = pd.concat([df_merged.head(5), df_merged.head(5)], axis=0)

In [23]:
grouped_stats = df_merged.groupby('TicketGroup')[['Age','Fare']].mean().reset_index()

In [24]:
pivot_table = pd.pivot_table(
    df_merged,
    values = 'Survived',
    index = 'TicketGroup',
    columns = 'Sex',
    aggfunc = 'mean'
)

In [25]:
df_merged['Fare_Per_Family_Member'] = df_merged['Fare'] / df_merged['FamilySize']

In [27]:
numeric_cols = df_merged.select_dtypes(include=['number'])
df_merged[numeric_cols.columns] = numeric_cols.map(lambda x: round(x,2))

In [29]:
df_merged.to_csv("phase3_transformed.csv", index=False)

In [30]:
print("Merged Data Sample:")
print(df_merged.head())

print("\nGrouped Stats (Mean Age & Fare by TicketGroup):")
print(grouped_stats)

print("\nPivot Table (Survival Rate):")
print(pivot_table)

Merged Data Sample:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket  Fare Cabin Embarked  FamilySize TicketGroup  \
0      0         A/5 21171     7   NaN        S           2           A
1      0          PC 17599    71   C85        C           2           P
2      0  STON/O2. 3101282     8   C85        S           1           S
3      0            113803    53  C123        S           2           1
4      0            373450     8  C123        S           1           3

   Fare_Per_Family_Member
0                     3.5
1                    35.5
2                     8.0
3                    26.5
4                     8.0

Grouped Stats (Mean Age & Fare by TicketGroup):
   TicketGroup        Age        Fare
0            1  35.837645   62.178082
1            2  28.163512   19.836066
2            3  27.083836   16.036545
3            4  31.979647   15.800000
4            5  32.166667   19.333333
5            6  34.349559   14.666667
6            7  27.777778    9.333333
7            8  26.500000    8.000000
8            9  29.699118    8.000000
9            A  29.437748    9.862069
10           C  26.395594   28.340426
11           F  34.385588   24.000000
12           L  32.250000    0.000000
13           P  34.784480  114.107692
14           S  27.681416   17.384615
15           W  34.161335   32.538462

Pivot Table (Survival Rate):
Sex            female      male
TicketGroup
1            0.948276  0.420455
2            0.840000  0.203704
3            0.574468  0.086957
4            0.250000  0.000000
5                 NaN  0.000000
6                 NaN  0.166667
7            0.000000  0.166667
8                 NaN  0.000000
9            1.000000       NaN
A            0.000000  0.074074
C            0.687500  0.161290
F            1.000000  0.000000
L                 NaN  0.250000
P            0.968750  0.333333
S            0.714286  0.215686
W            0.285714  0.000000